body{
    margin: 0;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eeeeee;

    display: grid;
    grid-template-rows: 4.25em auto;
}
header{
    background: #1b1b1b;
    color: #e0e0e0;
    grid-row: 1;

    position: sticky;
    top: 0;
}

a, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}
h2{
    font-weight: normal;
    font-size: 22px;
    padding: 0 0 0.5em 0;
    margin: 0 0 0 0;
}
h4{
    font-weight: normal;
    margin: 0 0 0.25em 0;
}
input, button, textarea, select{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
select, button, textarea, input[type="button"], input[type="submit"]{
    border: 1px solid #757575;
    border-radius: 4px;
}
form{
    margin: 0;
    display: flex;
}
textarea.four_lines{
    height: 4em;
}
textarea.eight_lines{
    height: 8em;
}
.column{
    flex-direction: column;
}
.logo{
    font-weight: bold;
}
.unselectable{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.boldtext{
    font-weight: bold;
}
.header_inner{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;
    position: relative;
}
.hgroup.search form input{
    height: 2.25em;
}
.hgroup.search form select{
    height: 2.25em;
}
.form_input.search{
    border-right: 0;
    width: 320px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
}
.tb_general{
    border: 1px solid #757575;
    border-radius: 4px;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.tb_general:focus{
    outline: none;
}
.form_button.search{
    border-width: 1px;
    border-color: #0d47a1;
    background: #2962ff;
    color: white;

    padding-left: 1em;
    padding-right: 1em;
}
.form_button.search.nlb{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.no_left_border{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0;
}
.no_right_border{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
}
.header_inner .hgroup{
    display: flex;
    align-items: stretch;
}
.header_inner .hgroup.left{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.header_inner .hgroup.right{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.header_item{
    display: inline-flex;
    padding: 0.5em;
    align-items: center;
}

.header_item.hoverable:hover{
    background-color: #e0e0e0;
    color: #1b1b1b;
}
.clickable{
    cursor: pointer;
}

.body_main{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
}
.body_box{
    border: 1px solid #757575;
    border-radius: 4px;
    background: white;
    font-size: 16px;
    width: 30%;

    margin-top: 2em;
    padding: 1em;

    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
}
.body_box:first-child{
    margin-top: 2em;
}
.login_box{    
    margin-top: 4em;
    max-width: 600px;
}
.body_widget{
    width: 60%;
    max-width: 960px;
}
.search_box{
    font-size: 14px;
}
.body_widget.transparent{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
.link_buttons{
    display: flex;
    justify-content: center;
}
.link_buttons button{
    height: 2.25em;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1px 1em;
    background-color: white;
}
.link_buttons .input_container_inner{
    margin-left: 0.5em;
}
.form_header{
    margin: 0 0 0.5em 0;
    border-bottom: 1px solid #757575;
}
.form_header.no_margin{
    margin: 0;
}
.flex_row{
    display: flex;
    justify-content: space-between;
}
.flex_row .group.right{
    align-self: center;
}
.rel{
    position: relative;
}
.login_box form{
    margin-bottom: 0.5em;
    border-bottom: 1px solid #757575;
}
.input_container_outer{
    position: relative;
    margin-bottom: 0.5em;
    flex-grow: 1;
}
.input_container_outer:last-of-type{
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}
.input_container_inner{
    display: flex;
}

.flex_reverse{
    flex-direction: row-reverse;
}
.input_container_inner input, .input_container_inner select{
    flex-grow: 1;
    height: 2.25em;    
}
.input_container_inner.shorter_elements input, .input_container_inner.shorter_elements{
    height: 1.75em;    
}
.input_container_inner textarea{
    flex-grow: 1;
}
.input_container_inner input[type="submit"]{
    flex-grow: 1;
    height: 2em;  
    
    border: 1px solid #757575;
    border-radius: 4px;

    background: #eeeeee;
}
.input_container_inner input[type="submit"].no_left_border{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0;
}
.input_container_inner input[type="submit"].no_right_border, .input_container_inner button.no_right_border{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
}
.input_container_inner input.login_submit_button{
    border-radius: 4px 0 0 4px;
    border-right: 0;
}
.input_container_inner input.login_submit_button + .icon{
    background-color: #2962ff;
    border-color: #0d47a1;
}
.input_container_inner input[type="submit"]:focus-visible{
    outline: none;
}
.inner_spacer{
    padding: 0.25em 0;
}

.input_container.icon{
    border: 1px solid #757575;
    border-radius: 4px;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background: #1b1b1b;
    color: transparent;
    text-shadow: 0 0 0 white;

    transition: background-color 0.15s ease-in;

    min-width: 1.5em;
    max-width: 1.5em;

    display: inline-flex;
    align-items: center;
    justify-content: center;    
}
.input_container.icon.green{
    background-color: #66bb6a;
}
.input_container.icon.left_side{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}
.input_container.icon.right_side{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
.input_container_inner input:focus{
    border-color: #0d47a1;
}
.input_container_inner input:focus + .icon{
    background-color: #2962ff;
    border-color: #0d47a1;
}
.tb_general.hide_left_border{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.input_container_error{
    margin-top: 0.25em;
    color: red;
    font-size: 14px;
}
.login_box p{
    font-size: 13px;
    margin: 0;
}

.splash_container{
    position: relative;
}
.splash_object{
    position: absolute;

    opacity: 1;
    transition: opacity 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out;
    background-color: white;

    border-radius: 50%;
}
.splashing{
    display: block;

    width: 200%;
    height: 200%;
    opacity: 0;
}

.tracker_table{
    display: grid;
    font-size: 14px;
}
.table_row_inner{
    display: grid;
    grid-template-columns: 2em auto 33% 33%;
    padding: 0.25em 0;
}
.table_row_inner:hover{
    background-color: #e3f2fd;
}
.table_row_inner span:nth-child(1){
    grid-column-start: 1;
}
.table_row_inner span:nth-child(2){
    grid-column-start: 2;
}
.table_row_inner span:nth-child(3){
    grid-column-start: 3;
}
.table_row_inner span:nth-child(4){
    grid-column-start: 4;
}
.table_row_inner.header{
    text-transform: uppercase;
    cursor: default;
}
.table_row_inner.header:hover{
    background-color: initial;
}
.table_row_subcontent{
    display: none;
}
.table_row_subcontent.expanded{
    display: block;
}
.subcontent_expander{
    display: inline-block;
    cursor: pointer;
    width: 12px;    
    transform: rotate(-90deg);
    transition: transform 0.15s ease-in;
}
.subcontent_expander.expanded{
    transform: rotate(0deg);
}
.table_row_subcontent .table_row_inner span:nth-child(2){
    padding-left: 1em;
}

.index_table{
    border: 1px solid #757575;
    border-radius: 4px;
    font-size: 14px;
}
.index_table .outer_element{
}
.index_table .contents{
    height: 320px;
    max-height: 300px;
    word-break: break-all;
    overflow-y: auto;
    padding: 0;
}
.index_table .contents.tall{
    height: 480px;
    max-height: 480px;
    word-break: break-all;
    overflow-y: auto;
    padding: 0;
}
.index_table.inner_table{
    margin: 0.5em;
    padding: 0.25em 0.25em;
    display: flex;
}
.index_table.inner_table .group.left{
    flex-grow: 1;
}
.utility.headerbar{
    border-bottom: 1px solid #757575;
    padding: 0.25em ;
}
.index_entry{
    max-height: 5rem;
    padding: 0.5em;
    cursor: pointer;
}
.index_entry:hover{
    background-color: #e3f2fd;
}
.index_entry .titlebar{
    display: flex;
    justify-content: space-between;
}
.index_entry .titlebar .title_text{
    font-weight: bold;
}
.index_entry .titlebar .issue_status_text{
    margin-left: 0.5em;
}
.index_entry .subtitle{
    font-size: 11px;
}
.issue_status_text{
    color: white;
    background: red;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;

    padding: 0 0.5em;
}
.issue_status_text.new{
    background: #90caf9;
}
.issue_status_text.inprogress{
    background: #00796b;
}
.issue_status_text.resolved{
    background: #2962ff;
}
.issue_status_text.completed{
    background: #66bb6a;
}
.index_entry .truncated_text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3em;
}
.utility.pagination{
    background-color: #f5f5f5;
    border-top: 1px solid #757575;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination_buttons{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.pagination_button{
    width: 1.5em;
    text-align: center;
    cursor: pointer;

    padding: 0.25em ;
}
.pagination_button.disabled{
    color: #bdbdbd;
}
.pagination_button:hover{
    background: #bdbdbd;
}
.pagination_button.disabled:hover{
    background: initial;
}
.article.bar{
    font-size: 14px;
    margin-bottom: 1em;
}
.article.bar.title{
    font-size: 14px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
}
.issuetitle{
    font-size: 18px;
}
.inner_attachmentbar{
    padding: 0.25em 0 0 0;
}
.inline_attachment_item{
    display: inline-flex;
    font-size: 12px;
    border: 1px solid #757575;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0.25em 0.25em 0;
}
.inline_attachment_item:hover{
    background-color: #e3f2fd;
}
.inline_attachment_item .attachment_icon{
    font-size: 24px;
}
.inline_attachment_item .attachment_details{
    padding: 0 1.5em 0 0.5em;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.divider{
    border-bottom: 1px solid #757575;
    margin: 0 0 0.5em 0;
}
.article .replies_outer{
    padding: 0.5em 0 1em 0;
}
.article_reply_inner{
    padding: 0.3em 0.5em;
}
.article_reply_inner.proposed{
    background-color: #e3f2fd;
}
.article_reply_inner.accepted{
    background-color: #c8e6c9;
}
.article_reply_header .small_italic{
    font-size: 12px;
    font-style: italic;
    color: #616161;
}

.input_container_desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5em;
    margin-bottom: 0.25em;
    position: relative;
}
.description_tooltip{
    color: white;
    background: #4527a0;
    border-radius: 50%;
    font-weight: bold;
    font-size: 10px;
    margin-left: 0.5em;
    padding: 0 0.35em;
    cursor: default;
}
.tooltip_outer{
    position: absolute;
    width: 100%;

    color: white;
    background: #1b1b1b;
    border-radius: 4px;
    top: 1.5em;
}

.tooltip_outer{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
}
.description_tooltip:hover + .tooltip_outer{
    visibility: visible;
    opacity: 1;
}
.tooltip_inner{
    font-size: 12px;
    padding: 0.25em 0.5em;
}
.user_menu_outer{
    display: grid;
    grid-template-columns: 9em auto;
}
.user_menu_column{
}
.user_menu_column.left{
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.user_icon_large_outer{
    border-radius: 4px;
    background: linear-gradient(-45deg, #1b1b1b, lightgray);
    color: white;
    width: 6em;
    height: 6em;
    margin-top: 1em;
    margin-right: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}
.user_icon_large_inner{
    font-size: 48px;
    display: inline-block;
}
.user_menu_column.right{
    grid-column: 2;
    border-left: 1px solid;
    padding: 0.5em 0 0 2em;
}
.in_article_kb_hero{
    margin: 0.5em 0 1em 0;
    background: #90caf9;
    border-radius: 4px;
    padding: 0.25em;
    text-align: center;
    font-size: 14px;
}
.in_article_kb_hero a{
    color: blue;
}
.solution_acceptance_options{
    display: flex;
    font-size: 12px;

    padding: 1em 0 0.5em 0;
}
.solution_acceptance_options .solution_button:first-child{
    margin-right: 0.5em;
}
.solution_button{
    border-radius: 4px;
    border-width: 1px;
    padding: 0.25em 1em;
    width: 4em;
    text-align: center;

    cursor: default;
}
.solution_button:hover{
    color: white;
    border-color: #1b1b1b;
}
.solution_button.accept{
    background: #66bb6a;
    border-color: #1b5e20;
}
.solution_button.accept:hover{
    background: #1b5e20;
}
.solution_button.reject{
    background: #e53935;
    border-color: #b71c1c;
}
.solution_button.reject:hover{
    background: #b71c1c;
}
.search_util_grid_row{
    display: grid;
    grid-template-columns: 50% auto 3em;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}
.search_util_grid_row:first-of-type{
    margin-bottom: 0.25em;
}
.search_util_grid_row:last-of-type{
    margin-bottom: 1em;
}

.action_error{
    background: #b71c1c;
    color: white;
    padding: 0.25em 0;
    text-align: center;
}